<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trabajo inicial aplicaciones hibridas - Azahara Ballester Hernández 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trabajo inicial aplicaciones hibridas - Azahara Ballester Hernández </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    
    <ion-row>
      <ion-col size-xs=6 offset-xs=3  class="justify-center">
        <h1>Album example</h1>
      </ion-col>
      <ion-col size-xs=6 offset-xs=3 class="justify-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur corrupti, iusto reiciendis, earum eum ut enim quidem, pariatur nostrum deleniti quas adipisci veritatis sequi? Delectus provident numquam velit explicabo quaerat.</p>
      </ion-col>
      <ion-col size-xs=6 offset-xs=3 class="justify-center">
        <ion-button>
          Main call to action
        </ion-button>
        <ion-button color="medium">
          Secundary action
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size-xs=12 size-md=6 size-xl=4>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-row>
            <ion-col size-xs=6 size-md=6 size-xl=6>
              <ion-button fill="outline" color="medium">View</ion-button>
              <ion-button fill="outline" color="medium">Edit</ion-button>
            </ion-col>
            <ion-col size-xs=6 size-md=6 size-xl=6 class="justify-right">
              <ion-text >9 min</ion-text>
            </ion-col>
          </ion-row>

        </ion-card>
      </ion-col>
      <ion-col size-xs=12 size-md=6 size-xl=4>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-row>
            <ion-col size-xs=6 size-md=6 size-xl=6>
              <ion-button fill="outline" color="medium">View</ion-button>
              <ion-button fill="outline" color="medium">Edit</ion-button>
            </ion-col>
            <ion-col size-xs=6 size-md=6 size-xl=6 class="justify-right">
              <ion-text >9 min</ion-text>
            </ion-col>
          </ion-row>
          
        </ion-card>
      </ion-col>
      <ion-col size-xs=12 size-md=6 size-xl=4>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-row>
            <ion-col size-xs=6 size-md=6 size-xl=6>
              <ion-button fill="outline" color="medium">View</ion-button>
              <ion-button fill="outline" color="medium">Edit</ion-button>
            </ion-col>
            <ion-col size-xs=6 size-md=6 size-xl=6 class="justify-right">
              <ion-text >9 min</ion-text>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
